
{{#partial "content"}}
    <div class="content-wrapper">
        <div class="two-column-wrapper">
            <div>
                <h1>ANIMAL TRACKER</h1>
                This application came about as a digital tool to aid in an environmental impact study by the Forest Service
                following a proposal from Jigsaw timber company to clear-cut the nearby forest of Douglas Fir. Using this platform
                the Forest Rangers would be able to record and report animal sightings in that area in realtime therefore bringing in
                critical and transparent data that would contribute to the final decision by the Forest Authority.
            </div>
            <div>
                <img src="">
            </div>
        </div>

    </div>
{{/partial}}